$color-grey-light-1: #f7f7f7; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text (placeholder)
$color-grey-dark-1: #615551; // Normal text
$color-grey-dark-2: #918581; // Lighter text

$color-dark:#494949;

$color-primary:#fb923a;
$color-secondary:#1e3344;


$font-main: 'Radio Canada', sans-serif;
